# Python
__pycache__/
*.py[cod]
*.log

# Virtual environment
.venv/
.env

# IDEs
.idea/

# Docker
*.pid
*.sock

# VS Code (если используешь)
.vscode/

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env

# HTTP client test files (опционально)
*.http
